.box1{
color: rgb(14, 14, 63);
text-decoration: underline;
background: linear-gradient(90deg, red 10%, green 20% 50%, lightgreen 100%);
position: relative;
top: 0px;

}

.box2{
    background-color: aqua;
    border: 4px solid red;
    display: inline-block;
    width: 60%;
    height: 100px;
    border-radius: 10px;
    margin: 10px 20%;


}

.box3{
    position: relative;
    align-items: center;
    padding: 10px 330px;
    height: 50px;
    width: 200px;
    
}

.box4{
    background-color: lightgreen;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.items{
    font-weight: bold;
    color:  rgb(14, 14, 63);
    background-color: aqua;
    border-radius: 5px;
    margin: 0px 20px;
    width: 450px;
    height: 4.5em;
    border: 2px solid green;
    text-align: center;
    
}

.box5{
    color: rgb(14, 14, 63);
    text-decoration: underline;
    background: linear-gradient(90deg, red 10%, orange 20% 50%, red 100%);
    position: relative;
    margin-top: 0px;
    height: 3em;
}

.box6{
    width: 100%;
    height: 200px;
    background: radial-gradient(rgb(19, 19, 156) 50%, green 100%);
    display: flex;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.small{
    border: 3px solid brown;
    border-radius: 8px;
    text-decoration: underline;
    background-color: rgb(185, 185, 34);
    color: brown;
    flex-direction: row;
    height: 6em;
    width: 200px;
    margin: 10px 90px;
    text-align: center;
    font-weight: bold;

}

.box7{
    color: white;
    background-color: rgb(196, 15, 45);
    position: relative;
    margin-top: 0px;
    height: 3em;
}

.grid{
    display: grid;
    grid-row: auto auto auto auto;
    grid-template-columns: 1.6fr 1.6fr 1.6fr 0.3fr;
    grid-auto-rows: 110px;
    grid-gap: 10px;
    position: relative;
    top: 20px;
    border: 1px solid black;
    height: 287px;
    
    
}

.feature{
    
    color: white;
    font-size: 27px;
    font-weight: bold;
   
}

#uni{
    grid-row: 2;
    grid-column: 1/4;
}

#uni1{
    grid-row: 1/3;
    grid-column: 4/4;
    font-size: 12px;
    grid-auto-rows: 100px;
}

.last{
    
    height: 47px;
    padding: auto;
    background-color: aqua;
    text-align: center;
    
    grid-row: 3;
    grid-column: 1/5;
}

.hr-wid{
    width: 83px;
    background-color: white;
}


